<h1>List of Super Hero Teams</h1>
<% @team.each_with_index do |team| %>
  <h1><%= team.name %></h1>
  <h2>Team Motto: <%= team.motto %></h2>
<% end %>
<% @heroes.each do |hero| %>
  <h2>Hero Name: <%= hero.name %></h2>
    <p>Hero Power: <%= hero.power %></p>
    <p>Hero Biography: <%= hero.biography %></p>
<% end %>